footer.dark-block 
    .wrapper
        .files
            a(href="#").files__link Договір оферти
            a(href="#").files__link Політика конфіденційності
            .social 
                a(href="#").social__link.instagram

                a(href="#").social__link.youtube
        .support 
            h3.support__title Технічна підтримка
            a(href="#").support__email lola@gmail.com
            a(href="#").support__phone +380 777 77 77 
