header 
    section.hero.light-block
        .wrapper
            .flex__block 
                .hero__text-block
                    h1.hero__title 
                        span.hero__title--colored ІТ
                        |  Карʼєра:
                    h2.hero__title Бізнес Аналітики 
                    p.hero__text Лише 5 днів — і ти знатимеш, як побудувати карʼєру в ІТ і отримати роботу мрії у Бізнес Аналізі
                img(src="img/bussines_mentoring_BA_training_Lola.jpg" alt="Navchannya bisnes analityky").hero__image
            
            ul.hero__list
                li.hero__list--item.arrow Інтенсив з 5 відео уроків 
                li.hero__list--item.arrow Ніякої теорії, тільки досвід 
                li.hero__list--item.arrow Приклади з реальних проєктів 
            .cta
                p.hero__title.join-now Приєднатися сьогодні
                p.hero__title.price 
                    span.cross 2500 грн
                    span.active 555 грн
                a.hero__button.button-start(href="#") Хочу
