main
    section.details.dark-block
        .wrapper 
            h2.details__title Тобі підійде, якщо ти:
            ul.details__list 
                li.details__list--item
                    img(src="img/details/way.png", alt="Specializaciya BA").details__list--image
                    span хочеш отримати роботу в ІТ, але ще не знаєш, яку саме спеціалізацію обрати 

                li.details__list--item
                    img(src="img/details/question.png", alt="Karyera BA").details__list--image
                    span хочеш почати карʼєру Бізнес аналітика, але не знаєш що для цього потрібно   

                li.details__list--item
                    img(src="img/details/circle.png", alt="Pracuyesh BA").details__list--image
                    span вже працюєш в ІТ і хочеш перейти в Бізнес Аналіз 

                li.details__list--item
                    img(src="img/details/book.png", alt="Noviy proekt").details__list--image
                    span вже працюєш бізнес аналітиком і хочеш змінити роботу (знайти новий проєкт), але сумніваєшся в своїх знаннях 

                li.details__list--item
                    img(src="img/details/notebook.png", alt="Ne znayshov roboty BA").details__list--image
                    span пройшов ІТ курси, але маєш трудності з влаштуванням на роботу (теж для Бізнес Аналіз звісно) 
            .cta
                p.details__title.join-now Приєднатися сьогодні
                p.details__title.price 
                    span.cross 2500 грн
                    span.active 555 грн
                a.details__button.button-start(href="#") Хочу 

    section.speaker.light-block
        .wrapper
            .speaker__photobox
                h2.speaker__title Авторка інтенсиву
                img(src="img/mentor.png", alt="Lolita Palokha").speaker__photo

            .speaker__text
                h3.speaker__name Лоліта
                ul.speaker__skills 
                    li.speaker__skills--text В ІТ з 2015, досвід викладання більше 8 років 
                    li.speaker__skills--text працювала з Epam, SoftServe, Plarium, Lululemon та іншими  
                    li.speaker__skills--text Спікерка QA Day, GeekNight, Women who code і не тільки 
                    li.speaker__skills--text її студенти вже Senior та мають власних джунів
    section.numbers.dark-block
        .wrapper
            h2.numbers__header Як це буде?  
             
            ul.numbers__container
                li.numbers__element
                    img(src="img/nums/num-1.png", alt="Possibilities")
                    p 5 уроків у записі, з завданнями та поясненнями виконань
                li.numbers__element
                    img(src="img/nums/num-2.png", alt="Possibilities")
                    p доступ до закритого телеграм-каналу одразу після оплати 
                li.numbers__element
                    img(src="img/nums/num-3.png", alt="Possibilities")
                    p  підтримка та відповіді на питання 
                li.numbers__element
                    img(src="img/nums/num-4.png", alt="Possibilities")
                    p доступ на цілий рік 
                li.numbers__element
                    img(src="img/nums/num-5.png", alt="Possibilities")
                    p уроки структуровані, практичні, без води та теорії 
                li.numbers__element
                    img(src="img/nums/num-6.png", alt="Possibilities")
                    p бонус: запрошення на закритий вебінар питання-відповіді та розбір кейсів
    section.questions.light-block
        .wrapper 
            
            h3.questions__title Питання та відповіді: 
            ul.questions__conteiner 
                li 
                    span.questions__text чи потрібен мені компʼютер? 
                    span.questions__answer Ні, будь-який пристрій, де є інтернет — підійде. Телефон, планшет, компʼютер. Навчання буде проходити в телеграмі.
                li
                    span.questions__text я з повного 0, я впораюся? 
                    span.questions__answer Так! Курс побудований так, що навіть людина, яка ніяк не повʼязана з ІТ, отримає корисні знання і розуміння, як рухатися далі до омріяної професії.  
                li
                    span.questions__text я вже маю досвід в ІТ, мені буде нудно? 
                    span.questions__answer Звісно ні! Ти поглянеш на свою роботу з іншого боку і отримаєш інструменти як структуризувати свої знання, знайти нову роботу або покращити процеси на своєму поточному проєкті. 
                li
                    span.questions__text як я можу оплатити?
                    span.questions__answer Будь-якою картою або через Apple Pay, Google Pay.
                li
                    span.questions__text чому така ціна? 
                    span.questions__answer Бо знання мають бути доступні!! Цей інтенсив не є навчанням новій професії з нуля. Ми займаємося лише 5 днів. Головна цінність: ви зрозумієте кого шукають роботодавці, як підвищити свої шанси на найм, які задачі ви будете виконувати на проєктах, що вам треба знати та вміти, щоб досягнути своєї мети — знайти першу роботу або змінити свій проєкт на кращий. Тут тільки практичні інструменти та досвід, які ви зможете застосувати одразу. Без теорії.

